# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Unit test / coverage reports
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version 